doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 超级管理员删除用户
  body
    h3 超级管理员删除用户
    form
      input#deleteUserId(type='text')
      button#deleteBtn(type='button') 超级管理员删除用户
    script(src='http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js')
    script.
      $(document).ready(function(){
      $("#deleteBtn").click(function(){
      $.ajax({
      type: "delete",
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", localStorage.token);
      },
      url: "/api/v1/deleteuser",
      data: {_id: localStorage._id, userRole: localStorage.userRole, deleteUserId: $('#deleteUserId').val()},
      dataType: "json",
      success: function(data){
      alert('用户已被删除');
      }
      });
      });
      });
